body {
  background: radial-gradient(farthest-corner at right top, #21a09d, #06182d);
  font-family: "Roboto", cursive;
  margin: 0;
  padding: 0;
}

.contato-header {
  background: #c5965f;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contato-title {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.voltar-link {
  margin: 0;
  text-decoration: none;
  color: white;
}

.contato-header h1 {
  color: #ffffff;
  font-size: 32px;
  margin: 0;
}

.contato-formulario {
  padding: 3em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: #ffffff;
  border-radius: 10px;
  padding: 2em;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #40112d;
  color: #ffffff;
  cursor: pointer;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #2a0c1f;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: #40112d;
  color: #ffffff;
  padding: 0.62em;
  text-align: center;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

.footer p {
  margin: 0.5em 0;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Media Queries para diferentes tamanhos de tela */

/* Tela pequena (celulares) */
@media only screen and (max-width: 600px) {
  form {
    padding: 1.5em;
  }

  .contato-formulario {
    padding: 2em;
  }

  .footer {
    padding: 1em;
  }
}
.rede{
    max-width: 30px;
    
}

/* Tela média (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  form {
    max-width: 600px;
  }
}


/* Tela de celular em modo retrato */
@media only screen and (max-width: 480px) {
  form {
    padding: 1em;
  }

  .contato-formulario {
    padding: 2em;
  }

  .footer {
    padding: 0.5em;
  }
}

/* Tela de celular em modo paisagem */
@media only screen and (max-width: 767px) {
  form {
    padding: 1.5em;
  }

  .contato-formulario {
    padding: 3em;
  }

  .footer {
    padding: 1em;
  }
}
